model/src/main/resources/vessel/contract/FLUXReportVesselInformation_5p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Trimmed schema FLUXReportVesselInformation_5p1.xsd -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
            targetNamespace="urn:un:unece:uncefact:data:standard:FLUXReportVesselInformation:5" version="5.1"
            xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:20"
            xmlns:rsm="urn:un:unece:uncefact:data:standard:FLUXReportVesselInformation:5"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:20" schemaLocation="UnqualifiedDataType_20p0.xsd" />
  <xsd:import namespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:20" schemaLocation="QualifiedDataType_20p0.xsd" />
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:20" schemaLocation="ReusableAggregateBusinessInformationEntity_20p0.xsd" />
  <xsd:element name="FLUXReportVesselInformation" type="rsm:FLUXReportVesselInformationType" />
  <xsd:complexType name="FLUXReportVesselInformationType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="FLUXReportDocument" type="ram:FLUXReportDocumentType" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="VesselEvent" type="ram:VesselEventType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
